<section class="produtos">
    <div class="container">
        <div class="cards-produtos">
            <p>Nintendo</p>
            <hr class="linha-hr">
            <div class="card-flex">
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo01.jpg" alt="Nintendo">
                    <p>Console Nintendo Oled</p>
                    <p class="preco">R$ 2.539,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo02.jpg" alt="Nintendo">
                    <p>Console Nintendo</p>
                    <p class="preco">R$ 1.990,90</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo03.jpg" alt="Nintendo">
                    <p>Trilogy Games Nintendo</p>
                    <p class="preco">R$ 199,99</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo04.jpg" alt="Nintendo">
                    <p>Super Nintendo Extreme</p>
                    <p class="preco">R$ 1.090,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo05.jpg" alt="Nintendo">
                    <p>Nintendo Switch</p>
                    <p class="preco">R$ 2.035,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/nintendo06.jpg" alt="Nintendo">
                    <p>Nintendo DSI</p>
                    <p class="preco">R$ 938,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
            </div>
        </div>
    </div>
</section>
