<!-------------------- Header da área de contatos ----------------------->
<header class="area-contatos">
    <div class="container header-contact">

        <div class="minha-conta-425">
            <div class="usuario">
                <a href="login.html"><img src="assets/imagens/perfil.png" alt="Imagem Perfil usuário"></a>
                <a href="login.html"><p>minha conta</p></a> 
                <a href="login.html"><img class="sinal" src="assets/imagens/miorMenorQue.png" alt=""></a>
            </div>
            <div class="itens-carrinho">
                <a href="#"><img src="assets/imagens/carrinhoCompras.png" alt="Carrinho de comprar"></a>
            </div>
        </div>

        <div class="contatos-header">               
            <div class="contacts">
                <img src="assets/imagens/telefone.png" alt="Imagem telefone">
                <a href="#"><p>(98) 3333-1234</p></a> 
            </div>
            <div class="contacts">
                <img src="assets/imagens/whatsapp.png" alt="Imagem telefone">
                <a href="#"><p>(98) 98741-3652</p></a> 
            </div>
            <div class="contacts">
                <img src="assets/imagens/E-mail.png" alt="Imagem telefone">
                <a href="mailto:bruno.asf2021@gmail.com"><p>contato</p></a> 
            </div>
            <div class="contacts">
                <img src="assets/imagens/balao.png" alt="Imagem telefone">
                <a href="#"><p>depoimentos</p></a> 
            </div>
        </div>
<!-------------------- Header da área de redes sociais ----------------------->
        <div class="redes-sociais">
            <a href="#"><img src="assets/imagens/Facebook.png" alt="Facebook"></a> 
            <a href="#"><img src="assets/imagens/Twitter.png" alt="Twitter"></a> 
            <a href="#"><img src="assets/imagens/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="assets/imagens/Penterest.png" alt="Penterest"></a> 
            <a href="#"><img src="assets/imagens/youTube.png" alt="youTube"></a> 
        </div>
    </div>
    <a href="#" class="menu-barra" onclick="mostrarMenu()"><img class="barra-menu" src="assets/imagens/bars.png" alt="Ícone menu barra lateral"></a>
    <header class="menu-none">
        <div class="container">
            <nav id="menu" class="menu">
                <a routerLink="">home</a>
                <a routerLink="/playstation">playstation</a>
                <a routerLink="/nintendo">nintendo</a>
                <a routerLink="/xbox">xbox</a>
                <a routerLink="/acessorios">acessórios</a>
                <a routerLink="/informatica">informática</a>
            </nav>
        </div>
    </header>
</header>
<!-------------------- Header da área da logomarca , login e pesquisa ----------------------->
<header class="login-search">
    <div class="container header-login">
            <div class="menu-login">
                    <a href="index.html"><img class="logo" src="assets/imagens/Logo-GamaMania2.png" alt="Logo Game Mania Site"></a>
                    
                    <form action="">
                        <input type="text" name="search" placeholder="search...">
                        <button class="pesquisar">
                            <a href="#"><img src="assets/imagens/lupa.png" alt="Lupa de pesquisa"></a> 
                        </button>
                    </form>
            </div>

            <div class="minha-conta">
                <div class="usuario">
                    <a href="login.html"><img src="assets/imagens/perfil.png" alt="Imagem Perfil usuário"></a>
                    <a href="login.html"><p>minha conta</p></a> 
                    <a href="login.html"><img class="sinal" src="assets/imagens/miorMenorQue.png" alt=""></a>
                </div>
                <div class="itens-carrinho">
                    <a href="#"><img src="assets/imagens/carrinhoCompras.png" alt="Carrinho de comprar"></a>
                </div>
            </div>
    </div>
</header>
<!-------------------- Header da área de opções do menu ----------------------->
<header class="opc-menu">
    <div class="container">
        <nav class="menu">
            <a routerLink="">home</a>
            <a routerLink="/playstation">playstation</a>
            <a routerLink="/nintendo">nintendo</a>
            <a routerLink="/xbox">xbox</a>
            <a routerLink="/acessorios">acessórios</a>
            <a routerLink="/informatica">informática</a>
        </nav>
    </div>
</header>
