<!------------------------------- Sessão banner principal ------------------------->

<main>
    <section id="carrossel" class="banner-principal">
        <div class="container card-jogos">
            <div class="card-banner">
            </div>
        </div>
    </section>
<!----------------------------------- Sessão destaques ------------------------------>
    <section class="destaques">
        <div class="container">
            <div class="cards-destaques">
                <p>destaques</p>
                <hr class="linha-hr">
                <div class="card-flex">
                    <div class="cards-00">
                        <div class="quadro-branco">
                            <img src="assets/imagens/mouse.png" alt="mouse sessão destaque">
                        </div>
                        <div class="info-produtos">
                            <p>mouse gamer</p>
                            <p>Redragon Nothousu PC-Game</p>
                            <p class="preco">R$ 59,00</p>
                            <button class="comprar"><a routerLink="mouse">comprar</a></button>
                        </div>
                    </div>
                    <div class="cards-00">
                        <div class="quadro-branco">
                            <img src="assets/imagens/controle.svg" alt="controle sessão destaque">
                        </div>
                        <div class="info-produtos">
                            <p>controle gamer</p>
                            <p>PS4 Warrior-JS083-warrior</p>
                            <p class="preco">R$ 169,99</p>
                            <button class="comprar"><a routerLink="controle">comprar</a></button>
                        </div>
                    </div>
                    <div class="cards-00">
                        <div class="quadro-branco">
                            <img src="assets/imagens/caixa-som.png" alt="mouse sessão destaque">
                        </div>
                        <div class="info-produtos">
                            <p>caixa de som gamer</p>
                            <p>Jbl Duo, 20w, Bluetooth 4.2</p>
                            <p class="preco">R$ 927,89</p>
                            <button class="comprar"><a routerLink="caixasom">comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!----------------------------------- Sessão produtos ------------------------------>

    <section class="produtos">
        <div class="container">
            <div class="cards-produtos">
                <p>produtos</p>
                <hr class="linha-hr">
                <div class="card-flex">
                    <div class="card-2">
                        <img src="assets/imagens/microfone.png" alt="Microfone area produtos">
                        <p>Microfone Gamer Base de Metal Condesador Hyrax by Motospeed HMC 900 </p>
                        <p class="preco">R$ 341,90</p>
                        <button class="comprar"><a href="comprarMicrofone.html">comprar</a></button> 
                    </div>
                    <div class="card-2">
                        <img class="img2" src="assets/imagens/celular.png" alt="Microfone area produtos">
                        <p>Rino7pro Smartphone, Telefone Celular, 512gb, Tela Hd De 7 Polegadas</p>
                        <p class="preco">R$ 2.199,00</p>
                        <button class="comprar"><a href="comprarCelular.html">comprar</a></button>  
                    </div>
                    <div class="card-2">
                        <img class="img3" src="assets/imagens/cpu.png" alt="Microfone area produtos">
                        <p>PC Gamer ITX Arena, Core i5 10400F, NVidia GeForce RTX 3050, Ram 16GB, SSD 240GB</p>
                        <p class="preco">R$ 4.882,35</p>
                        <button class="comprar"><a href="comprarCPU.html">comprar</a></button>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

