<!----------------------------------- Sessão rodapé ------------------------------>
<footer>
    <div class="container">
        <div class="footer-flex">
            <div class="footer-column">
                <h4>institucional</h4>
                <p>Assistência Técnica</p>
                <p>Quem somos</p>
                <p>Política de Troca e Devoluções</p>
                <p>Política de Privacidade</p>

                <div class="redes-sociais-footer">
                    <a href="#"><img src="assets/imagens/Facebook.png" alt="Facebook"></a> 
                    <a href="#"><img src="assets/imagens/Twitter.png" alt="Twitter"></a> 
                    <a href="#"><img src="assets/imagens/instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="assets/imagens/Penterest.png" alt="Penterest"></a> 
                    <a href="#"><img src="assets/imagens/youTube.png" alt="youTube"></a> 
                </div>
            </div>
            <div class="footer-column">
                <h4>Selos de segurança</h4>
                <img src="assets/imagens/selo-segurança.png" alt="selos de segurança">
            </div>
            <div class="footer-column">
                <h4>formas de pagamentos</h4>
                <img src="assets/imagens/formasdepagamentos.png" alt="formas de pagamentos">
            </div>
        </div>
        <hr class="footer-hr">
        <p class="copy">&copy;created and developed by: Bruno Makalyster ®GameManiaS/A</p>
        <p class="copy"> Senai, nº 2022 - Senai - Brasil</p> 
    </div>
</footer>
