<section class="produtos">
    <div class="container">
        <div class="cards-produtos">
            <p>Acessórios</p>
            <hr class="linha-hr">
            <div class="card-flex">
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios01.jpg" alt="Acessórios">
                    <p>Mini Placa  picopsu embutido</p>
                    <p class="preco">R$ 36,99</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios02.jpg" alt="Acessórios">
                    <p>X99 desktop Motherboard</p>
                    <p class="preco">R$ 1.076,43</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios03.jpg" alt="Acessórios">
                    <p>Fonte ATX Fortrek 200W</p>
                    <p class="preco">R$ 56,76</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios04.jpg" alt="Acessórios">
                    <p>Fonte p/ Notebook 19V 3.42A</p>
                    <p class="preco">R$ 96,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios05.jpg" alt="Acessórios">
                    <p>Bateria p/ Notebook HP Pavilion</p>
                    <p class="preco">R$ 179,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/acessorios06.jpg" alt="Acessórios">
                    <p>Placa Auxiliar USB M46g</p>
                    <p class="preco">R$ 37,90</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
            </div>
        </div>
    </div>
</section>