<!------------------------------- Sessão destaques compra/vendas controle ------------------------->

<section class="vendas">
    <div class="container vendasGame">
        <div class="comprarControle">
            <div class="controleImg">
            </div>
            <div class="controleInfo">
                <p>Controle Gamer PS4 Warrior-JS08-3 Warrior</p>
                <div class="pagamentos">
                    <div class="pix">
                      <div><img src="assets/imagens/pix.svg" alt="Icon Pix"><span>R$ 153,00</span> <p>no pix</p></div> <p class="desconto">-10%</p>
                    </div>
                    <div class="cartao">
                      <img src="assets/imagens/credit-card.svg" alt="Icon Cartão"> <span>R$ 169,00</span> <p>no cartão em até 2x de R$ 84,95 sem juros</p>
                    </div>
                </div>
                <div class="cashback">
                    <p class="p1">receba até:</p>
                    <p class="p2">R$ 1,60 de cashback</p>
                </div>
                <div class="btn-carrinho">
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECÇÃO PRODUTOS RELACIONADOS -->
<section class="produtos-relacionados">
    <div class="container">
      <h3>Produtos relacionados</h3>

        <!-- Aqui começa a bagunça do carousel-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Universal Gamepad 360</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Gamer Pichau Gcx100</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle JSO91 PC PS3 Multilaser</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle04.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle GamerSir G4 pro para Celular</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle05.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PUBG Mobile Game Controller W10</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle06.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Gamepad Inalambrico Logitech</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle XtremeRate Gold Shell</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle08.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Bluetooth Joystick PG-9021</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle16.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Joystick 7 em 1 Inova</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle10.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle Dazz Dual Shock Cyborg</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle15.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle USB Supernintendo Snes</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/controle12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Controle sem fio Xbox One Gamer</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
         <!-- Aqui termina a bagunça do carousel--> 
    </div>
  </section>
