<!------------------------------- Sessão destaques compra/venda mouse ------------------------->

<section class="vendas">
    <div class="container vendasGame">
        <div class="comprarMouse">
            <div class="mouseImg">
            </div>
            <div class="mouseInfo">
                <p>Mouse Gamer Regragon Nothousu PC-GAMER preto M606</p>
                <div class="pagamentos">
                    <div class="pix">
                      <div><img src="assets/imagens/pix.svg" alt="Icon Pix"> <span> R$ 53,10</span><p>no pix</p></div> <p class="desconto">-10%</p>
                    </div>
                    <div class="cartao">
                        <img src="assets/imagens/credit-card.svg" alt="Icon Cartão"> <span>R$ 59,00</span> <p>no cartão em até 2x de R$ 29,50 sem juros</p>
                    </div>
                </div>
                <div class="cashback">
                    <p class="p1">receba até:</p>
                    <p class="p2">R$ 1,60 de cashback</p>
                </div>
                <div class="btn-carrinho">
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECÇÃO PRODUTOS RELACIONADOS -->
<section class="produtos-relacionados">
    <div class="container">
      <h3>Produtos relacionados</h3>

        <!-- Aqui começa a bagunça do carousel-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/moise1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Predator</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Camaro</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Multilaser</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse Gamer 3200</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assest/imagens/mouse5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Razen</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Brigth</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Fenix</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse ogaming</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="cards-carousel justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. EstoneX7</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse10.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. HP M270</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Killer OEX</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <img src="assets/imagens/mouse12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mouse G. Redragon</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
         <!-- Aqui termina a bagunça do carousel--> 
    </div>
  </section>
