<!------------------------------- Sessão destaques compra/vendas caixaSon ------------------------->

<section class="vendas">
    <div class="container vendasGame">
        <div class="comprarCaixasom">
            <div class="caixasomImg">
            </div>
            <div class="caixasomInfo">
                <p>Caixa de Som Gamer JBL DUO, 20W Bluetooth 4.2</p>
                <div class="pagamentos">
                    <div class="pix">
                        <div><img src="assets/imagens/pix.svg" alt="Icon Pix"><span>R$ 835,10</span> <p>no pix</p></div> <p class="desconto">-10%</p>
                    </div>
                    <div class="cartao">
                        <img src="assets/imagens/credit-card.svg" alt="Icon Cartão"> <span>R$ 927,89</span> <p>no cartão em até 4x de R$ 231,97 sem juros</p>
                    </div>
                </div>
                <div class="cashback">
                    <p class="p1">receba até:</p>
                    <p class="p2">R$ 1,60 de cashback</p>
                </div>
                <div class="btn-carrinho">
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
        </div>
    </div>
</section>
