<section class="produtos">
    <div class="container">
        <div class="cards-produtos">
            <p>Xbox</p>
            <hr class="linha-hr">
            <div class="card-flex">
                <div class="card-playstation">
                    <img src="assets/imagens/xbox01.jpg" alt="Xbox">
                    <p>Xbox One</p>
                    <p class="preco">R$ 519,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/xbox02.jpg" alt="Xbox">
                    <p>Xbox One S 1T Standard</p>
                    <p class="preco">R$ 2.699,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/xbox03.jpg" alt="Xbox">
                    <p>Xbox Smoke Skeleton</p>
                    <p class="preco">R$ 474,99</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/xbox04.jpg" alt="Xbox">
                    <p>Xbox 360 Slin 4GB</p>
                    <p class="preco">R$ 1.095,69</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/xbox05.jpg" alt="Xbox">
                    <p>Jogos Lançametos</p>
                    <p class="preco">R$ 172,62</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/xbox06.jpg" alt="Xbox">
                    <p>Xbox Series X|S</p>
                    <p class="preco">R$ 4.349,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
            </div>
        </div>
    </div>
</section>
