<section class="produtos">
    <div class="container">
        <div class="cards-produtos">
            <p>Playstation</p>
            <hr class="linha-hr">
            <div class="card-flex">
                <div class="card-playstation">
                    <img src="assets/imagens/playstation01.jpg" alt="Playstation">
                    <p>Playstation 1</p>
                    <p class="preco">R$ 269,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/playstation02.jpg" alt="Playstation">
                    <p>Playstation 2</p>
                    <p class="preco">R$ 719,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/playstation03.jpg" alt="Playstation">
                    <p>Playstation 3</p>
                    <p class="preco">R$ 1.200,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/playstation04.jpg" alt="Playstation">
                    <p>Playstation 4</p>
                    <p class="preco">R$ 2.999,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/playstation05.jpg" alt="Playstation">
                    <p>Playstation 5</p>
                    <p class="preco">R$ 4.299,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/playstation-jogos.jpg" alt="Playstation">
                    <p>Playstation Jogos</p>
                    <p class="preco">R$ 299,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
            </div>
        </div>
    </div>
</section>
