<section class="produtos">
    <div class="container">
        <div class="cards-produtos">
            <p>Informática</p>
            <hr class="linha-hr">
            <div class="card-flex">
                <div class="card-playstation">
                    <img src="assets/imagens/informatica01.jpg" alt="Informática">
                    <p>Notebook Dell Inspiron 8ª Geração Intel Core i3 4GB 1TB</p>
                    <p class="preco">R$ 2.595,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/informatica02.jpg" alt="Informática">
                    <p>Impressora Multifuncional Epson Eco Tank L3150</p>
                    <p class="preco">R$ 1.185,75</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/informatica03.jpg" alt="Informática">
                    <p>Monitor Gamer Philco 24” FreeSync & HDR10 - Bivolt</p>
                    <p class="preco">R$ 1.099,99</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/informatica04.jpg" alt="Informática">
                    <p>Modem e Roteador ADSL2 + WiFi 300MBPs D-link</p>
                    <p class="preco">R$ 49,99</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button> 
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/informatica05.jpg" alt="Informática">
                    <p>PROCESSADOR AMD AM4 RYZEN PRO 3.3GHz 12-Threads</p>
                    <p class="preco">R$ 1.299,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
                <div class="card-playstation">
                    <img src="assets/imagens/informatica06.jpg" alt="Informática">
                    <p>Pen Drive 64GB USB Leitura 10MB/s e Gravação 3MB/s</p>
                    <p class="preco">R$ 40,00</p>
                    <button class="comprar-produto"><a href="#">comprar</a></button>  
                </div>
            </div>
        </div>
    </div>
</section>
